In [18]:
import pandas as pd

In [19]:
df = pd.read_excel("Алгоритм_Джонсона_данные.xlsx")
df

  Задача  Подготовка  Выполнение  Порядок
0      а          20          25        0
1      b          10           8        0
2      с          14          11        0
3      d          12          10        0
4      е          12          15        0
5      f          18          12        0
6      g          25          20        0
7      h          15          20        0

In [20]:
def johnson_algorithm_dataframe(processing_times_df):
    df = processing_times_df.copy()
    min_a_jobs = df[df['Подготовка'] <= df['Выполнение']].copy()
    min_b_jobs = df[df['Подготовка'] > df['Выполнение']].copy() 

    min_a_jobs = min_a_jobs.sort_values(by='Подготовка')
    min_b_jobs = min_b_jobs.sort_values(by='Выполнение', ascending=False)

    optimal_order_df = pd.concat([min_a_jobs, min_b_jobs])
    optimal_order = optimal_order_df['Задача'].values

    return optimal_order

In [21]:
johnson_algorithm_dataframe(df)

array(['е', 'h', 'а', 'g', 'f', 'с', 'd', 'b'], dtype=object)